*{
    -webkit-user-select: text;  /* Chrome all / Safari all /opera15+*/
    -moz-user-select: text;     /* Firefox all */
    -ms-user-select: text;      /* IE 10+ */
    user-select: text;
}

body{
    background-color: #fff;
}
ul, li{
    padding: 0;
    margin: 0;
    list-style: none;
}
.tmpl{
    margin-bottom: 4em;
    width: 100%;
}
/*自定义选择按钮样式*/
.mint-switch{
    width: 30%;
}
.mint-switch-core{
    transform: scale(0.6);
}
/*自定义图片预览样式*/
figure {
    margin: 1em auto;
}
figure img {
    width: 100%;
    height: 14em;
}
/*自定义瀑布流样式*/
.img-wraper{
    padding: 0.2em;
}